button{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    transition: .3s;
    text-align: center;
    border: 10px solid black
}
button:hover{
    transition: .3s;
    border: 15px solid black
}
.btm-mgn{
    margin-bottom: 100px
}
.top-mgn{
    margin-top: 30px
}
th, td{
    text-align: center
}